/* vehicle-specs.component.css */

h2 {
  color: #80deea;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  
}

th, td {
  border: 1px solid #80deea;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #80deea;
}

.loading-message {
  font-style: italic;
  color: #999;
}
